<table class="table table-striped">
  <thead>
    <tr>
      <th>Student Index</th>
      <th>Number of Courses</th>
      <th>Sign Up Date</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user_name, user_path(user) %></td>
        <td> <%= user.courses.count %></td>
        <td> <%= user.created_at.to_formatted_s(:long) %>
      </tr>
    <% end %>
  </tbody>
</table>
