<table>
  <tr>
    <th> Course Title </th>
    <th> Day or Night </th>
  </tr>

  <tbody>
    <% @user.courses.each do |c| %>
        <tr>
        <td><%= c.title %></td>
        <% if c.day == true %>
        <td>Day</td>
        <% else %>
        <td>Night</td>
        <% end %>
        <td> <%= link_to 'Delete', user_course_path(@user, c), method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
</table>
